
#container {
    margin: 20px;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #0080ff, #bdc3c7);
    font-family: 'Times New Roman', Times, serif;
}

.h1 {
    font-size: 8rem;
}

.dark {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    width: auto;
    margin-bottom: 20px;
    border-radius: 2em;
}

.postcard {
    display: flex;
    background-color: #ffffff;
    color: #000000;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(249, 249, 249, 0.5);
    transition: transform 0.3s ease-in-out;
}

.postcard:hover {
    transform: scale(1.05);
}

.postcard__title a {
    color: inherit;
    text-decoration: none;
}

.postcard__img {
    width: 20%;
    height: auto;
}

.postcard__tagbox {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.tag__item {
    display: flex;
    align-items: center;
}

.tag__item a {
    color: #fff;
    text-decoration: none;
}

.play a {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.play a:hover {
    background-color: #ccc;
}

.postcard__preview-txt {
    text-align: justify;
    font-size: small;
}
@media only screen and (max-width: 768px) {
    .postcard__img {
        width: 40%;
    }

    .h1 {
        font-size: 2rem; 
    }

    .dark {
        padding: 1px; 
        margin-top: 20px;
        margin-bottom: 50px;
        border-radius: 1em; 
      
    }

    .postcard__tagbox {
        flex-direction: column; 
        align-items: center; 
    }

    .postcard__preview-txt {
        font-size: medium; 
        margin: 1px;
    }

#container {
  margin: auto;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #0080ff, #bdc3c7);
  font-family: 'Times New Roman', Times, serif;
}
}