*{margin: 0%;
    padding: 0%;
    box-sizing: border-box;}
    #middel{
        overflow: auto;
        background-image:url("./cdgiimg.jpg") ;
        background-repeat: no-repeat;
        background-size: 100%;
       
    }
    
    .inte-head{
        text-align: center;
        font-size: 5rem;
        font-family: 'Times New Roman', Times, serif;
        margin:2rem;
    }
    #content{
        background-image: linear-gradient(to bottom,white,rgb(179, 230, 244),white
        );
        padding: 5%;
    }
    #footer{
    
        width: 100%;
        height: fit-content;
    }
    #inner-car{
        max-width: 15rem;
        max-height: 5rem;
        overflow:auto;
        background-color: rgba(0, 0, 0, 0.601);
    }
    #buttons{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.601);
        padding: 1%;
    }
    #main-card{
        height: fit-content;
    }
    #event{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
    }
    #button{
        max-width: 150px;
        max-height: 40px;
    }
    #viewcart{
        position:fixed;
        bottom: 1px;
    }
   
    @media screen and (max-width:786px) {
        .inte-head{
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
           margin: 9px;
        }
    }